# IMDB Movie Data

DESCRIPTION
Movie data from 2006 to 2016 from IMDB.

SUMMARY
A Summary Dataset from 2006 to 2016.

This is a summary dataset that contains all the data of IMDB from the year 2006 to 2016. The era where the greatest movies were made and what was the start of the Marvel Cinematic Universe and various other movies that went on to change the world.

https://data.world/promptcloud/imdb-data-from-2006-to-2016/workspace/project-summary?agentid=promptcloud&datasetid=imdb-data-from-2006-to-2016

## Support Vector Classification Machines

https://scikit-learn.org/stable/modules/svm.html

In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [2]:
 # Read the csv file into a pandas DataFrame
data = pd.read_csv("../Resources/data/IMDB-Movie-Data.csv")
data.head()

,Rank,Title,Genre,Genre1,Genre2,Genre3,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",Action,Adventure,Sci-Fi,A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi",Adventure,Mystery,Sci-Fi,"Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Horror,Thriller,NaN,Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family",Animation,Comedy,Family,"In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",Action,Adventure,Fantasy,A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [3]:
movie_df = data[['Genre1','Genre2','Genre3','Rating','Votes','Metascore','Runtime (Minutes)','Revenue (Millions)']]

In [4]:
movie_df = movie_df.dropna()
movie_df

,Genre1,Genre2,Genre3,Rating,Votes,Metascore,Runtime (Minutes),Revenue (Millions)
0,Action,Adventure,Sci-Fi,8.1,757074,76.0,121,333.13
1,Adventure,Mystery,Sci-Fi,7.0,485820,65.0,124,126.46
3,Animation,Comedy,Family,7.2,60545,59.0,108,270.32
4,Action,Adventure,Fantasy,6.2,393727,40.0,123,325.02
5,Action,Adventure,Fantasy,6.1,56036,42.0,103,45.13
...,...,...,...,...,...,...,...,...
990,Action,Adventure,Fantasy,6.6,129708,44.0,92,45.80
991,Drama,Family,Music,8.5,102697,42.0,165,1.20
993,Action,Adventure,Horror,5.9,140900,37.0,97,60.13
997,Drama,Music,Romance,6.2,70699,50.0,98,58.01
999,Comedy,Family,Fantasy,5.3,12435,11.0,87,19.64

In [23]:
movie_df['word_rating'] = np.where(movie_df['Rating'] >6, "Good", "Bad")

In [24]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 580 entries, 0 to 999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Genre1              580 non-null    object
 1   Genre2              580 non-null    object
 2   Genre3              580 non-null    object
 3   Rating              580 non-null    float64
 4   Votes               580 non-null    int64
 5   Metascore           580 non-null    float64
 6   Runtime (Minutes)   580 non-null    int64
 7   Revenue (Millions)  580 non-null    float64
 8   word_rating         580 non-null    object
dtypes: float64(3), int64(2), object(4)
memory usage: 45.3+ KB

In [26]:
movie_df

,Genre1,Genre2,Genre3,Rating,Votes,Metascore,Runtime (Minutes),Revenue (Millions),word_rating
0,Action,Adventure,Sci-Fi,8.1,757074,76.0,121,333.13,Good
1,Adventure,Mystery,Sci-Fi,7.0,485820,65.0,124,126.46,Good
3,Animation,Comedy,Family,7.2,60545,59.0,108,270.32,Good
4,Action,Adventure,Fantasy,6.2,393727,40.0,123,325.02,Good
5,Action,Adventure,Fantasy,6.1,56036,42.0,103,45.13,Good
...,...,...,...,...,...,...,...,...,...
990,Action,Adventure,Fantasy,6.6,129708,44.0,92,45.80,Good
991,Drama,Family,Music,8.5,102697,42.0,165,1.20,Good
993,Action,Adventure,Horror,5.9,140900,37.0,97,60.13,Bad
997,Drama,Music,Romance,6.2,70699,50.0,98,58.01,Good
999,Comedy,Family,Fantasy,5.3,12435,11.0,87,19.64,Bad

In [27]:
# X Values df
new_movie_df = movie_df[['Genre1','Genre2','Genre3','Metascore']]

In [28]:
new_movie_df.dtypes

Genre1        object
Genre2        object
Genre3        object
Metascore    float64
dtype: object

In [29]:
data['Genre1'].value_counts()

Action       293
Drama        195
Comedy       175
Adventure     75
Crime         71
Biography     64
Animation     49
Horror        46
Mystery       13
Thriller      10
Fantasy        4
Sci-Fi         3
Romance        2
Name: Genre1, dtype: int64

In [30]:
# Assign the data to X
X = pd.get_dummies(data=new_movie_df,columns=['Genre1','Genre2','Genre3'])
X

,Metascore,Genre1_Action,Genre1_Adventure,Genre1_Animation,Genre1_Biography,Genre1_Comedy,Genre1_Crime,Genre1_Drama,Genre1_Horror,Genre1_Mystery,...,Genre3_Horror,Genre3_Music,Genre3_Musical,Genre3_Mystery,Genre3_Romance,Genre3_Sci-Fi,Genre3_Sport,Genre3_Thriller,Genre3_War,Genre3_Western
0,76.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,65.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,59.0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,40.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,42.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,44.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
991,42.0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
993,37.0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
997,50.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
999,11.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# Assign the data to y (47 Variables which are going to predict the Revenue)
y = movie_df["word_rating"]

In [32]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [33]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [34]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.821

In [36]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

         Bad       0.45      0.42      0.43        24
        Good       0.89      0.90      0.89       121

    accuracy                           0.82       145
   macro avg       0.67      0.66      0.66       145
weighted avg       0.81      0.82      0.82       145